/*
  |============================
  | Global styles
  |============================
*/

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--main-white-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: var(--heading-text-color);
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);

  overflow: hidden;
  pointer-events: none;
}
