/*
  |============================
  | Footer section
  |============================
*/
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $fotter-background-color;
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: $main-white-color;
}

.site-address__item:not(:first-child) {
  margin-top: 9px;
}


/*====== footer adress  ======*/

.page-footer__container {
  display: flex;
  justify-content: space-between;
}

.site-address__list {
  list-style: none;
  font-style: normal;
  line-height: 1.71;
  white-space: nowrap;
}

.site-address__link {
  color: $contact-link-color;
  text-decoration: none;
  white-space: nowrap;
  transition: color $time-hover $timing-function;
  
  &:hover, &:focus{
    color: $decoration-color;
  }
}

.site-address__street {
  color: $main-white-color;
  transition: color $time-hover $timing-function;

  &:hover,
  &:focus {
    color: $decoration-color;
  }
}

.page-footer__title {
  font-size: inherit;
  margin-bottom: 20px;
  color: $main-white-color;
  text-transform: uppercase;
  line-height: 1.143;
  font-weight: 700;
}

/* ====== footer social ====== */

.page-footer__social {
  padding-top: 12px;
  /* padding-left: 70px; */
}
